${ORG_NAME}.local:53 {
    template IN A ${ORG_NAME}.local {
        answer "{{ .Name }} 60 IN A ${HOST_IP}"
    }
    forward . 8.8.8.8 1.1.1.1
    log
    errors
}

.:53 {
    forward . 8.8.8.8 1.1.1.1
    cache 30
    log
    errors
}
