@import "tailwindcss";
@source "../../../packages";
@import "@nublestation/ui/styles/tokens.css";

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, a {
  cursor: pointer;
}
